{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eu

if ! command -v brew >/dev/null 2>&1; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew install {{ range .packages.mac }}{{ . | quote }} {{ end }}
{{ end -}}
