[Unit]
Description=Local backup integrity check
OnFailure=backup-notify@%n.service

[Service]
Type=oneshot
ExecStart=restic check
EnvironmentFile=%h/.config/restic/local-backup.conf
