[Unit]
Description=Offsite backup with restic
OnFailure=backup-notify@%n.service

[Service]
Type=oneshot
ExecStartPre=restic unlock
ExecStart=restic \
    --verbose \
    --one-file-system \
    --tag=systemd.timer \
    --exclude-file=%h/.config/restic/exclude.txt \
    backup \
    %h/
ExecStartPost=-/bin/bash -c 'mkdir -p %h/.local/share/backup-timestamps && date --iso-8601=seconds > %h/.local/share/backup-timestamps/backup-offsite'
ExecStartPost=restic forget \
    --prune \
    --verbose \
    --group-by "paths,tags" \
    --keep-daily $RETENTION_DAYS \
    --keep-weekly $RETENTION_WEEKS \
    --keep-monthly $RETENTION_MONTHS \
    --keep-yearly $RETENTION_YEARS
ExecStartPost=/bin/bash -c 'notify-send "Offsite backup successful" "Completed at $(date --iso-8601=seconds)"'
EnvironmentFile=%h/.config/restic/offsite-backup.conf
