[Unit]
Description=Local backup prune timer
Conflicts=local-backup.service

[Timer]
OnCalendar=daily UTC
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
