[Unit]
Description=Offsite backup with restic
OnFailure=status-notification@%n.service

[Service]
Type=simple
ExecStartPre=restic unlock
ExecStartPre=sleep 5
ExecStart=restic \
    --verbose \
    --one-file-system \
    --tag=systemd.timer \
    --exclude-file=/home/johannes/.config/restic/exclude.txt \
    backup \
    /home/johannes/
EnvironmentFile=%h/.config/restic/hetzner-backup.conf
